---
layout: base
title: "Home"
---

<body class="home-container">
    <div id="logo-container"><img id="logo" src="{{ "/assets/img/resilient-is-logo.svg" | relative_url }}" alt="LibResilient logo, depicting a cloud with a sturdy anchor"/></div>
    <h1><a href="/" class="title">resilient<span class="word-delimeter">.</span>is</a></h1>
    <div class="home-description">
        <h2>{{ site.description }}</h2>
        <p>A browser-based decentralized content delivery tool, implemented as a JavaScript library to be deployed easily on any website. LibResilient uses ServiceWorkers and a suite of unconventional in-browser delivery mechanisms, with a strong focus on decentralized delivery methods.</p>
        <div class="more"><a href="./about/">read more</a></div>
    </div>
    <div class="home-nav">
        <a href="./blog/">Blog</a>
        <a href="./docs/">Docs</a>
        <a href="https://gitlab.com/rysiekpl/libresilient/">Code</a>
    </div>
</body>
