---
layout: demo
title: "Demo: Still loading screen"
libresilient_include: true
---

<body class="home-container">
    <h1><a href="/demo/still-loading/" class="title">Still <span class="word-delimeter">Loading</span> Screen</a></h1>
    <p>This is a demonstration of the still-loading screen.</p>
    
    <p>Resources in this directory will be fetched using a regular <code><a href="https://developer.mozilla.org/en-US/docs/Web/API/fetch">fetch()</a></code>, but with a long delay. The delay is long enough to trigger the display of the "Still loading..." screen.</p>
    
    <p>Once the request finally completes, the still-loading screen will reload to display the fetched content. Content will also be cached, so that future requests will complete instantly. If you want to test the still-loading screen again, please clear your cache and start here again.</p>
    
    <div class="home-nav">
        <a href="./second-stage/">Go!</a>
    </div>
</body>
