---
layout: demo
title: "Demo: Still loading screen - Second Stage"
libresilient_include: false
---

<body class="home-container">
    <h1><a href="/demo/still-loading/" class="title">Still <span class="word-delimeter">Loading</span> Screen</a></h1>
    <p>When navigating to this page you should have seen the "Still loading..." screen after about 1s, which a few seconds later should have redirected here.</p>
    
    <p>Since the content is now cached, this page will load instantenously. If you want to test the still-loading screen again, please clear your browser cache and reload this page.</p>
    
    <div class="home-nav">
        <a href="/demo/dnslink-fetch/">Next Demo!</a>
    </div>
</body>
