---
layout: demo
title: "Demo: DNSLink/Fetch"
libresilient_include: false
---

<body class="home-container">
    <h1><a href="/demo/dnslink-ipfs/" class="title">DNSLink<span class="word-delimeter">/</span>Fetch</a></h1>
    <p>DNSLink/Fetch plugin demonstration second stage.</p>
    
    <p>You are viewing content fetched from DNSLink/Fetch, without requests going to <code>resilient.is</code> directly.</p>
    
    <div class="home-nav">
        <a href="/demo/dnslink-ipfs/">Next Demo!</a>
    </div>
</body>
