---
layout: demo
title: "Demo: Cache With Fallback"
libresilient_include: true
---

<body class="home-container">
    <h1><a href="/demo/cache-with-fallback/" class="title">Cache <span class="word-delimeter">with</span> Fallback</a></h1>
    <p>This is Cache with Fallback demonstration.</p>
    
    <p>Resources in this directory will be fetched using a regular <code><a href="https://developer.mozilla.org/en-US/docs/Web/API/fetch">fetch()</a></code>. If that request fails, content will be provided from cache (if it was already cached), and fetched or refreshed from the configured alternative enpoints (in this case, five IPFS gateways).</p>
    
    <p>Try blocking <code>resilient.is</code> in your hosts file or using your firewall, and then click below. The next page should load even though the site is blocked.</p>
    
    <div class="home-nav">
        <a href="./second-stage/">Go!</a>
    </div>
</body>
