.title
  font-size: 1.4em

.title + *
  line-height: 1.4em
  

#logo-container
  height: auto
  width: 8em
  height: 8em
  padding: 0em
  margin: 0em auto
  border-radius: 100%
  background: white
  text-align: center
  
#logo
  max-width: 70%
  height: auto
  max-height: 70%
  margin-top: 17%
  
body > #logo-container
  margin-top: -4em
  box-shadow: 0 0 0.3em #b7b7b7
  
header > #logo-container
  width: 5em
  height: 5em
  padding: 0em
  margin: 0em
  border-radius: 100%
  background: white
  text-align: center
  display: block;
  top: -3em;
  position: relative;
  border: solid 0em #2d5589;
  margin: auto;
  box-shadow: -2.1em 1.5em 0em #2d5589, 2.1em 1.5em 0em #2d5589, 0 0 0.3em #b7b7b7

header h1
  font-size: 160%
  margin-top: -1.5em
  
header h1 > .title
  opacity: 0.4
  position: relative
  top: 0.08em

header h1 > *
  font-size: calc(1.5rem + 0.3vw);

header h1 > .word-delimeter
  opacity: 0.2
  font-size: 1em
  
body.home-container
  background: none
  box-shadow: none
  justify-content: center;
  color: #555
  padding-top: 3em
  
  .home-nav > a
    font-size: 1.5em
    
    &:hover
      background-color: $light

body.home-container h1
  font-size: 5vh
  margin: 0em
  text-align: center
  
body.home-container p
  text-align: center
  margin-top: 0em
  font-size: 150%
  
body.home-container h1 .word-delimeter
  color: $light
  opacity: 1
  
.home-nav
  display: flex
  margin: 1em auto 2em auto
  justify-content: center
  flex-wrap: wrap
  
.home-nav > a
  color: $light
  background: $link-color
  border-radius: 0.25em
  padding: 0.5em #{'min(2em, 7vw);'}
  margin: #{'min(0.5em, 3vw);'}
  transition: color 0.25s, background-color 0.25s
  
  &:hover
    color: $link-color
    background: lighten($dark, 80%)
    text-decoration: none

.partner-nav
  display: flex
  margin: 1em auto 2em auto
  justify-content: center
  
.partner-nav > a
  color: $light
  background: transparent
  border-radius: 0.25em
  padding: 0.5em #{'min(1em, 7vw);'}
  margin: #{'min(0.25em, 1.5vw);'}
  transition: color 0.25s, background-color 0.25s
  line-height: 1
  
  &:hover
    color: $link-color
    background: lighten($dark, 80%)
    text-decoration: none
    
  > img
    height: 3em
    margin: 0em
    
body.home-container .home-description
  font-size: 90%
  max-width: 80vw
  margin: 2em auto
  background: white
  border-radius: 0.5em
  padding: 0em 2em
  box-shadow: 0 0 0.3em #b7b7b7
  
  h2
    text-align: center
    font-size: 200%
  p
    text-align: justify
    margin: 0em auto
  
.more
  margin: 1em 0em 2em 0em
  text-align: right

.more a
  border-radius: 3px
  border: 1.5px solid $link-color
  padding: .4em .8em
  transition: .2s background, .2s color

.more a:hover
  color: #fff
  background: $link-color
  text-decoration: inherit

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 10ch
  min-height: 1.75em
  margin: 0 .2em

.icon
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

a:hover .icon
  color: reduce(100)

.full table
  display: table
  width: 100%

.katex
  overflow-x: auto
  overflow-y: hidden

.rouge-table
  &, th, td, tr, pre
    font-size: inherit
    background: inherit !important
    box-shadow: none
    width: initial
    margin: 0
    padding: 0
  .gl pre
    margin: 0 1.5em 0 .25em
    opacity: .5

.word-delimeter
  opacity: 0.5
    
h1 > .word-delimeter
  padding: 0em 0.2em
    
.highlight // https://github.com/richleland/pygments-css/blob/master/monokai.css <http://unlicense.org>
  pre
    background: rgba(lighten($dark, 6%), 0.9)
    color: white
  .c
    color: #a29f90
  .err
    color: #960050
    background-color: #1e0010
  .k
    color: #66d9ef
  .l
    color: #ae81ff
  .n
    color: #f8f8f2
  .o
    color: #f92672
  .p
    color: #f8f8f2
  .cm, .cp, .c1, .cs
    color: #75715e
  .ge
    font-style: italic
  .gs
    font-weight: bold
  .kc, .kd
    color: #66d9ef
  .kn
    color: #f92672
  .kp, .kr, .kt
    color: #66d9ef
  .ld
    color: #e6db74
  .m
    color: #ae81ff
  .s
    color: #e6db74
  .na
    color: #a6e22e
  .nb
    color: #f8f8f2
  .nc
    color: #a6e22e
  .no
    color: #66d9ef
  .nd
    color: #a6e22e
  .ni
    color: #f8f8f2
  .ne, .nf
    color: #a6e22e
  .nl, .nn
    color: #f8f8f2
  .nx
    color: #a6e22e
  .py
    color: #f8f8f2
  .nt
    color: #f92672
  .nv
    color: #f8f8f2
  .ow
    color: #f92672
  .w
    color: #f8f8f2
  .mf, .mh, .mi, .mo
    color: #ae81ff
  .sb, .sc, .sd, .s2
    color: #e6db74
  .se
    color: #ae81ff
  .sh, .si, .sx, .sr, .s1, .ss
    color: #e6db74
  .bp, .vc, .vg, .vi
    color: #f8f8f2
  .il
    color: #ae81ff
  .gu
    color: #75715e
  .gd
    color: #f92672
  .gi
    color: #a6e22e

.about-profile-name
  font-weight: bold;
.about-profile-title
  font-size: small;
  margin-left: 20px;

.commit-id
  font-size: 50% !important
  opacity: 0.5

#docs-menu-control
  display: none

.docs-container
  padding: 0em !important
  display: flex
  
  .docs-index-container
    h3, h4
      margin-bottom: 0em
    p
      margin-top: 0em
  
  .docs-menu
    padding-left: 1em
    padding-right: 1em
    font-size: 80%
    background: #8199b8
    color: white
    font-weight: bold
    min-width: 14em
    
    & > label
      display: none
    
    .docs-menu-container
      position: sticky
      top: 1.5em
      
      h2 a
        color: white
    
      h2, h3
        margin-bottom: 0.5em
      
      & > ul
        margin-top: 0.5em
        list-style: none
        padding-left: 0em
        display: flex
        flex-direction: column
          
        li
          padding-left: 0.5em
          padding-right: 0.5em
          padding-top: 0.3em
          padding-bottom: 0.3em
          margin: 0em
          border-radius: 0.5em
          
          a
            color: white
          
          &.docs-menu-active
            color: #2d5589
            background: white

  .docs-content
    overflow-x: scroll
    padding: 1em
