body
  display: flex
  flex-direction: column

article, .content-container
  flex-grow: 1
  padding-top: 1em

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: baseline
  justify-content: center
  
body > footer
  justify-content: space-around

body > header, body > article, body > .content-container, body > footer
  padding: 1.5em

article header, .content-container header
  margin-bottom: 1.5em
  display: flex
  flex-wrap: wrap

article header h1, .content-container header h1
  font-size: 1.7em
  margin: 0 0 .1em
  flex-grow: 1
  width: 100%
  
author
  @extend article

nav
  margin: .5em -1em

nav a
  margin: .5em 1em
