---
layout: demo
title: "Demo: Alternative Endpoints Only"
libresilient_include: true
---

<body class="home-container">
    <h1><a href="/demo/alternative-endpoints-only/" class="title">Alternative <span class="word-delimeter">Endpoints</span> Only</a></h1>
    <p>Alternative Endpoints Only demonstration.</p>
    
    <p>From this point on, you should be able to browse this section of the site without your browser making any direct requests to <code>resilient.is</code> whatsoever (even if the site is reachable).</p>
    
    <div class="home-nav">
        <a href="./second-stage/">Go!</a>
    </div>
</body>
