---
layout: demo
title: "Demo: Alternative Endpoints Only - Second Stage"
libresilient_include: false
---

<body class="home-container">
    <h1><a href="/demo/alternative-endpoints-only/" class="title">Alternative <span class="word-delimeter">Endpoints</span> Only</a></h1>
    <p>Alternative Endpoints Only demonstration second stage.</p>
    
    <p>You are viewing content fetched from alternative endpoints (in this case, five IPFS gateways), without a single request going to <code>resilient.is</code> directly.</p>
    
    <div class="home-nav">
        <a href="/demo/cache-with-fallback/">Next Demo!</a>
    </div>
</body>
