---
---

@import index, font, basic, layout, classes

html
  background: lighten($dark, 80%)
  padding: 1vh 0
  overflow: auto

body
  box-shadow: 0 0 .3em lighten($dark, 65%)
  border-radius: 0.5em

body > header, body > footer
  background: $header
  color: $light

body > header
    border-radius: 0.5em 0.5em 0em 0em
    flex-direction: column
    align-content: center

body > header > nav
    display: none
    
body > footer
    border-radius: 0em 0em 0.5em 0.5em

@media (min-width: 32em)
  html
    padding: 1vh unquote("max(calc(38% - 22em), 1em)")
  body > article, body > .content-container, body > footer
    padding: 1.65em calc(22% - 6em)
  body > header
    padding: 0.4em 2em 0.5em 0em;
  header > #logo-container
    box-shadow: -2.4em 2.65em 0em #2d5589, 2.4em 2.65em 0em #2d5589, 0 0 0.3em #b7b7b7;

@media (max-width: 38em)
        
  .docs-container 
  
    .docs-menu
      font-size: 120% !important
      min-width: 0em
      max-width: 0em
      overflow: clip
      padding-right: 0em
      padding-left: 2em
      
      & > *
        min-width: 14em
        
      & > label
        text-align: left
        font-weight: bold
        display: block
        position: sticky
        top: 1.5em
        margin-top: 0.7em
        margin-bottom: -3.7em
        z-index: 100
        
        span
          font-size: 150%
          position: relative
          margin-left: -1.2em
  
    #docs-menu-control:checked ~ .docs-menu
      min-width: 14em
      max-width: 30em
      padding-right: 1em
      padding-left: 1em
      
      & > label
        text-align: right
        
        span
          margin-left: 0em
