---
layout: demo
title: "LibResilient Demos"
---

<body class="home-container">
    <h1><a href="/demo/" class="title">Lib<span class="word-delimeter">Resilient</span> Demos</a></h1>
    <p>Libresilient demonstration pages.</p>
    
    <p>Each of these uses a separate deployment of LibResilient, with separate config. You can find the configuration of each in sub-directories of the <a href="https://gitlab.com/rysiekpl/resilient.is/-/tree/main/demo">demo directory in the code</a>.</p>
    
    <div class="home-nav">
        <a href="./alternative-endpoints-only/">Alt&nbsp;Fetch</a>
        <a href="./cache-with-fallback/">Cache</a>
        <a href="./still-loading/">Still&nbsp;loading&nbsp;screen</a>
        <a href="./dnslink-fetch/">DNSlink/Fetch</a>
        <a href="./dnslink-ipfs/">DNSlink/IPFS</a>
    </div>
</body>
