<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ page.author | default: site.author | escape }}">
    <meta name="generator" content="Jekyll v{{ jekyll.version }}">
    {% if page.libresilient_root %}<script defer src="{{ page.libresilient_root | default: '/' }}libresilient.js"></script>{% endif %}
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    {% if site.show_frame %}
    <link rel="stylesheet" href="{{ "/assets/css/frame.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ "/assets/img/resilient-is-favicon.svg" | relative_url }}">
    {% if site.plugins contains "jekyll-feed" %}<link rel="alternate" href="{{ site.feed.path | default: "/feed.xml" | relative_url }}" type="application/atom+xml" title="{{ site.title }}">{% endif %}
</head>
{% if site.show_sidebar or site.sidebar %}{% include sidebar.html %}{% endif %}

{% if site.navigation %}
  {% assign pages = site.navigation %}
{% else %}
  {% assign pages = site.pages | where_exp: "item", "item.title and item.sitemap != false" | sort: "order" %}
{% endif %}

{{ content }}

</html>
