---
layout: base
---

<body>

  <header>
    <div id="logo-container"><img id="logo" src="{{ "/assets/img/resilient-is-logo.svg" | relative_url }}" alt="LibResilient logo, depicting a cloud with a sturdy anchor"/></div>
    <h1><a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape | replace: ".", "<span class='word-delimeter'>.</span>" }}</a><span class="word-delimeter">/</span><a href="/{{page.url|split: '/'|slice: 1,1}}/">{{page.url|split: '/'|slice: 1,1}}</a></h1>
    {% include menu.html menu=pages %}
  </header>

  <div class="content-container">

  {{ content }}

  </div>

  {% if site.external %}
  <footer>
    <div>{{ site.description | default: site.title }}</div>
    {% include menu.html menu=site.external %}
  </footer>
  {% endif %}

</body>
