---
layout: base
---

<body>

  <header>
    <div id="logo-container"><img id="logo" src="{{ "/assets/img/resilient-is-logo.svg" | relative_url }}" alt="LibResilient logo, depicting a cloud with a sturdy anchor"/></div>
    <h1><a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape | replace: ".", "<span class='word-delimeter'>.</span>" }}</a><span class="word-delimeter">/</span><a href="/{{page.url|split: '/'|slice: 1,1}}/">{{page.url|split: '/'|slice: 1,1}}</a></h1>
    {% include menu.html menu=pages %}
  </header>
  
  <div class="content-container docs-container">
  
    <input type="checkbox" id="docs-menu-control" name="docs-menu-control"/>
    <div class="docs-menu">
      {% assign docs = site.pages|where:"group","docs" %}
      {% assign plugins = site.pages|where:"group","plugins" %}
      
      <label for="docs-menu-control"><span>☰</span></label>
      <div class="docs-menu-container">
        <h2><a href="{{ '/docs/' | relative_url }}">Documentation</a>:</h2>
        <ul>
        {% for doc in docs %}
          {% if doc.url == page.url %}
            <li class="docs-menu-active">{{ doc.title }}</li>
          {% else %}
            <li><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        <h2><a href="{{ '/docs/plugins/' | relative_url }}">Plugins:</a></h2>
        <ul>
        {% for plugin in plugins %}
          {% if plugin.url == page.url %}
            <li class="docs-menu-active">{{ plugin.title }}</li>
          {% else %}
            <li><a href="{{ plugin.url | relative_url }}">{{ plugin.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="docs-content">
      {{ content }}
    </div>
  
  </div>

  {% if site.external %}
  <footer>
    <div>{{ site.description | default: site.title }}</div>
    {% include menu.html menu=site.external %}
  </footer>
  {% endif %}

</body>
