---
layout: demo
title: "Demo: DNSLink/IPFS"
libresilient_include: true
---

<body class="home-container">
    <h1><a href="/demo/dnslink-ipfs/" class="title">DNSLink<span class="word-delimeter">/</span>IPFS</a></h1>
    <p>DNSLink/IPFS plugin demonstration.</p>
    
    <p>From this point on, you should be able to browse this section of the site without your browser making any direct requests to <code>resilient.is</code> whatsoever (even if the site is reachable). Content will be fetched directly from DNSLink/IPFS.</p>
    
    <div class="home-nav">
        <a href="./second-stage/">Go!</a>
    </div>
</body>
