---
layout: demo
title: "Demo: DNSLink/IPFS"
libresilient_include: false
---

<body class="home-container">
    <h1><a href="/demo/dnslink-ipfs/" class="title">DNSLink<span class="word-delimeter">/</span>IPFS</a></h1>
    <p>DNSLink/IPFS plugin demonstration second stage.</p>
    
    <p>You are viewing content fetched from DNSLink/IPFS, without a single request going to <code>resilient.is</code> directly.</p>
    
    <div class="home-nav">
        <a href="/">Home</a>
    </div>
</body>
